@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

.darkModeBtn {
  transition-duration: 150ms;
  transition-delay: 1s;
}
.scroll-bar {
  scrollbar-width: auto;
}
.sidebar {
  animation: side 1s alternate ease-in;
}
::-webkit-scrollbar {
  width: 10px;
  z-index: 1000;
  background: #d1d1d1;
  color: #000;
}
@keyframes side {
  0% {
    transform: translateY(-50%);
    opacity: 0.3;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
.sidebar a {
  animation: sides 2s alternate ease;
}

@keyframes sides {
  0% {
    opacity: 0.1;
  }

  100% {
    opacity: 1;
  }
}
